<div class="wrapper">
  <div class="pageBody profile">
    <%= form_with(model: profile,url: url, local: true) do |form| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flexbox">
        <div class="left-content">
          <%= form.fields_for :photo do |p| %>
            <div class="form-group image">
              <label class="filebutton">
                <% unless p.object.photo_type == 2 %>
                <%= image_tag(p.object.data.url(:medium,false)) %>
                <% else %>
                <%= image_tag(p.object.url)  %>
                <% end %>
              <span><%= p.file_field :data,class: "upload" %></span>
              </label>
            </div>
            
          <% end %>  
        </div>

        <div class="right-content">
          <div class="form-group">
            <%= form.text_field :name,placeholder: "表示名" %>
          </div>
          <div class="form-group">
            <label>
              <%= form.radio_button :gender,false %><span>男性</span>
            </label>
            <label>
              <%= form.radio_button :gender,true %><span>女性</span>
            </label>
          </div>
          <div class="form-group">
            <%= form.text_field :birthday,placeholder: "生年月日 2000/1/1" %>
          </div>
          <div class="form-group">
            <%= form.text_field :birth_place,placeholder: "出身地" %>
          </div>
        </div>
      </div>
      
      <div class="center col-1">
        <div class="form-group">
          <%= form.text_field :default_talk_theme,placeholder: "トークテーマ" %>
        </div>
        <div class="form-group">
          <%= form.text_area :self_introduction,rows: 5,placeholder: "自己紹介" %>
        </div>
        <div class="actions">
          <%= form.submit "プロフィールを更新する" %>
        </div>
      </div>
    <% end %>
  </div>
</div>