<div class="wrapper main">
  	<header>
  		<%= link_to root_path,class: "toTop" do %>
  			<%= image_tag "logo_new.png" %>
  		<% end %>
  		<div class="soon_message">
  			<p style="">申込男性詳細</p>
  		</div>
  		<div class="right-content">
  			<div class="user"><%= link_to profile_edit_path do %><%= image_tag("user-icon.png") %><% end %></div>
  			<% if false %><div class="notice"></div><% end %>
  		</div>
  	</header>
  	<div class="pageBody ticket show">
		<div class="ticket-show">
			<div class="user-section flexbox">
				<div class="image">
					<%= image_tag(@offer.user_try.user.profile.photo.photo_type == 1 ? @offer.user_try.user.profile.photo.data.url(:medium,false) : @offer.user_try.user.profile.photo.url) %>	
				</div>
				<div class="right-column">
					<% if false %>
					<div class="ticket-info flexbox">
						<p>
							<% if @offer.ticket_offers.last.ticket.time.strftime("%H") == "00" %>
								時間未指定
							<% else %>
								<%= @offer.ticket_offers.last.ticket.time.strftime("%H:%M") + " ~ " + (@offer.ticket_offers.last.ticket.time.strftime("%H").to_i + 1).to_s + ":00" %>
							<% end %>
							</p>
						<p><%= @offer.ticket_offers.last.ticket.place %></p>	
					</div>
					<% end %>
					<div class="user-content">
						<p class="name"><%= @offer.user_try.user.profile.name %>(<%= get_age(@offer.user_try.user.profile.birthday) %>)</p>
						<p><%= @offer.user_try.user.profile.place %></p>
						<p><%= @offer.user_try.user.profile.work %></p>
					</div>	
				</div>
			</div>
			<div class="talk_theme">
				<p><%= @offer.user_try.user.profile.default_talk_theme %></p>
			</div>
			<div class="introduction talk_theme">
				<p><%= simple_format_v1(@offer.user_try.user.profile.self_introduction) %></p>
			</div>

			<%= link_to "このユーザーを選択する",recruit_choose_path(@offer),class: "submit" %>
		</div>
	</div>
	<div class="soon flexbox long noComment">
	    <%= image_tag("logo_new.png") %>

	    <div id="soon_sujest" class="sujest">
	      <p>
	        この人はどんな印象かな？<br/>
	        印象が良ければ"このユーザーを選択する"をクリックしてね！
	      </p>
	    </div>
	</div>
</div>
