
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ステータス名</th>
        <th>人数</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">プロフィール登録</th>
          <td><%= @start.length %></td>
          <td><%= link_to "詳細","#" %></td>
      </tr>
      <tr>
        <th scope="row">ペンディング女性</th>
          <td><%= @pending_ticket.length %></td>
          <td><%= link_to "詳細","#" %></td>
      </tr>
      <tr>
        <th scope="row">ペンディング男性</th>
          <td><%= @pending_apply.length %></td>
          <td><%= link_to "詳細","#" %></td>
      </tr>
      <tr>
        <th scope="row">チケット発行</th>
          <td><%= @recruit.length %></td>
          <td><%= link_to "詳細","#" %></td>
      </tr>
      <tr>
        <th scope="row">チケット申し込み</th>
          <td><%= @apply.length %></td>
          <td><%= link_to "詳細","#" %></td>
      </tr>
      <tr>
        <th scope="row">マッチング</th>
          <td><%= @apply.length %></td>
          <td><%= link_to "詳細","#" %></td>
      </tr>
    </tbody>
  </table>
</div>