<div class="wrapper main">
  	<header>
  		<%= link_to root_path,class: "toTop" do %>
  			<%= image_tag "logo_new.png" %>
  		<% end %>
  		<div class="soon_message">
  			<p style="">今日会える女性一覧</p>
  		</div>
  		<div class="right-content">
  			<div class="user">
  				<%= link_to profile_edit_path do %><%= image_tag("user-icon.png") %><% end %>
  			</div>
  			<% if false %><div class="notice"></div><% end %>
  		</div>
  	</header>
  	<div class="pageBody ticket">
		<% @tickets.each do |t| %>
			<%= link_to apply_show_path(t) do %>
			<% if current_user.check_ticket_offers?(t) %>
			<div class="check">
				<%= image_tag("check.png") %>
			</div>
			<% end %>
			<div class="user-section flexbox">
				<div class="image">
					<%= image_tag(t.user_try.user.profile.photo.photo_type == 1 ? t.user_try.user.profile.photo.data.url(:medium,false) : t.user_try.user.profile.photo.url) %>	
				</div>
				<div class="right-column">
					<% if false %>
					<div class="ticket-info">
						<p>
							<% if t.time.strftime("%H") == "00" %>
								時間未指定
							<% else %>
								<%= t.time.strftime("%H:%M") + " ~ " + (t.time.strftime("%H").to_i + 1).to_s + ":00" %>
							<% end %>
						</p>
						<p><%= t.place %></p>	
					</div>
					<% end %>
					<div class="user-content">
						<p class="name"><%= t.user_try.user.profile.name %>(<%= get_age(t.user_try.user.profile.birthday) %>)</p>
						<p><%= t.user_try.user.profile.place %></p>
						<p><%= t.user_try.user.profile.work %></p>
					</div>	
				</div>
			</div>
			<% unless t.talk_theme.blank? %>
				<div class="talk_theme">
					<p><%= t.talk_theme %></p>
				</div>
			<% end %>
			<% end %>
		<% end %>
	</div>
	<% if false %>
	<div class="soon flexbox long noComment">
	    <%= image_tag("logo_new.png") %>

	    <div id="soon_sujest" class="sujest">
	      <p>
	        今日の夜予定が空いている女性が表示されているよ！<br/>
	        気になる人がいたらクリックして詳細を見てみよう！
	      </p>
	    </div>
	</div>
	<% end %>
</div>