<div class="wrapper main">
  	<header>
  		<%= link_to root_path,class: "toTop" do %>
  			<%= image_tag "logo_new.png" %>
  		<% end %>
  		<div class="right-content">
  			<div class="user"><%= link_to profile_edit_path do %><%= image_tag("user-icon.png") %><% end %></div>
  			<% if false %><div class="notice"></div><% end %>
  		</div>
  	</header>
  	<div class="pageBody ticket show">
		<div class="ticket-show">
			<% if current_user.check_ticket_offers?(@ticket) %>
			<div class="check">
				<%= image_tag("check.png") %>
			</div>
			<% end %>
			<div class="user-section flexbox">
				<div class="image">
					<%= image_tag(@ticket.user_try.user.profile.photo.photo_type == 1 ? @ticket.user_try.user.profile.photo.data.url(:medium,false) : @ticket.user_try.user.profile.photo.url) %>	
				</div>
				<div class="right-column">
					<% if false %>
					<div class="ticket-info flexbox">
						<p>
							<% if @ticket.time.strftime("%H") == "00" %>
								時間未指定
							<% else %>
								<%= @ticket.time.strftime("%H:%M") + " ~ " + (@ticket.time.strftime("%H").to_i + 1).to_s + ":00" %>
							<% end %>
						<p><%= @ticket.place %></p>	
					</div>
					<% end %>
					<div class="user-content">
						<p class="name"><%= @ticket.user_try.user.profile.name %>(<%= get_age(@ticket.user_try.user.profile.birthday) %>)</p>
						<p><%= @ticket.user_try.user.profile.place %></p>
						<p><%= @ticket.user_try.user.profile.work %></p>
					</div>	
				</div>
			</div>
			<div class="talk_theme">
				<p><%= @ticket.talk_theme %></p>
			</div>
			<div class="introduction talk_theme">
				<p><%= simple_format_v1(@ticket.user_try.user.profile.self_introduction) %></p>
			</div>

			<%= link_to "このユーザーに申し込む",apply_offer_path(@ticket),class: "submit" %>
		</div>
	</div>
	<div class="soon flexbox long noComment">
	    <%= image_tag("logo_new.png") %>

	    <div id="soon_sujest" class="sujest">
	      <p>
	        この人の印象はどうかな？<br/>
	        良さそうだったら"このユーザーに申し込む"をクリックしてオファーを出そう！<br/>
	        相手が承認するとマッチングになるよ！
	      </p>
	    </div>
	</div>
</div>