<div class="wrapper main">
  	<header>
      <%= link_to root_path,class: "toTop" do %>
        <%= image_tag "logo_new.png" %>
      <% end %>
      <div class="soon_message">
        <p>今日行ける？</p>
      </div>
  		<div class="right-content">
  			<div class="user"><%= link_to profile_edit_path do %><%= image_tag("user-icon.png") %><% end %></div>
  			<% if false %><div class="notice"></div><% end %>
  		</div>
  	</header>
  	<div class="pageBody ticket">
  		<div class="ticket-show">
			<%= render 'form', try: @try,url: user_tickets_path,tickets: @try.tickets %>
		</div>
	</div>
  <div class="soon flexbox long noComment at">
      <%#= image_tag("logo_new.png") %>

      <div id="soon_sujest" class="sujest">
        <p>
          今日の予定が空いていれば"今日行ける！"をクリックしてね！<br/>
          男性側からオファーが来るよ！
        </p>
      </div>
  </div>
</div>